@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* border: 1px solid red; */
}

@layer base {
  body {
    @apply font-sans;
  }

  h1,
  h2 {
    font-family: var(--font-jakarta);
  }
}

/* ----------------------------------------------- */
/* Preview box animations */
/* ----------------------------------------------- */
@keyframes typewriter {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes typewriter-fast {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes typing-content {
  from {
    max-height: 0;
    opacity: 0;
  }

  to {
    max-height: 1000px;
    opacity: 1;
  }
}

@keyframes shine {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(100%);
  }
}

/* Typography Animations */
.typewriter {
  overflow: hidden;
  white-space: nowrap;
  animation: typewriter 2s steps(50, end);
}

.typewriter-fast>* {
  animation: typing-content 0.5s ease-out forwards;
}

/* Shine Effect */
.animate-shine {
  animation: shine 2s infinite;
}

/* Scrollbar Styling */
.scrollbar-thin {
  scrollbar-width: thin;
}

.scrollbar-thumb-slate-200::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-thumb-slate-200::-webkit-scrollbar-thumb {
  background-color: #e2e8f0;
  border-radius: 3px;
}

/* Status Animations */
@keyframes pulse {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }
}

.animate-pulse {
  animation: pulse 1.5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

/* ----------------------------------------------- */
/* Logo animations */
/* ----------------------------------------------- */

.scroller {
  overflow: hidden;
  width: 100%;
}

.inner-scroller {
  display: flex;
  gap: 0;
  animation: scroll 30s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.scroller:hover .inner-scroller {
  animation-play-state: paused;
}

/* ----------------------------------------------- */
/* Emoji animations */
/* ----------------------------------------------- */

@keyframes erupt {
  0% {
    transform: translateY(-100px) scale(0.8);
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  100% {
    transform: translateY(-140px) translateX(var(--x-offset)) scale(0.5);
    opacity: 0;
  }
}

.emoji-eruption {
  position: absolute;
  font-size: 2rem;
}

.emoji-eruption-1 {
  --x-offset: -40px;
  animation: erupt 1.5s ease-out infinite;
}

.emoji-eruption-2 {
  --x-offset: 25px;
  animation: erupt 1.5s ease-out infinite 0.2s;
}

.emoji-eruption-3 {
  --x-offset: -15px;
  animation: erupt 1.5s ease-out infinite 0.4s;
}

.emoji-eruption-4 {
  --x-offset: 35px;
  animation: erupt 1.5s ease-out infinite 0.6s;
}

.emoji-eruption-5 {
  --x-offset: -30px;
  animation: erupt 1.5s ease-out infinite 0.8s;
}